.header-container{
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 1px 1px 50px rgb(240, 232, 232);
}

.logo{
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
}

.list-container{
 display: flex; 
 gap: 20px;
 margin-right: 30px;
 
}

.list-item{
    list-style: none;
    font-weight: 600;
    text-decoration: none;
}
.list-item:hover{
    color: darkorange;
}

.cart-btn{
    
    width: 64px;
}


@media screen and (max-width:800px) {
    .header-container{
        flex-direction: column;
    }
}

@media screen and (max-width:480px) {
    .header-container{
        flex-direction: column;
    }

    }